.cv-app {
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    background-color:#808080;
}

#RenderLayer_LineSet {
}

#scene_html{
        background-color : transparent;
    ul  {
        background-color : transparent;
        li {
        background-color : transparent;
            color: #4cff00;
            &:hover {
                color : #ffd800;
            }
        }
    }
}
